* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-top: 1rem;
}

.alert-size {
  font-size: 1.5rem;
}

.right-part {
  top: 100%;
  transform: translateY(-50%);
}
.counting-area {
  background-color: darkgrey;
  opacity: 0.6;
  position: relative;
  max-width: 400px;
  margin: 200px auto 50px auto;
}

#my-btn {
  position: relative;
  margin: auto;
}

#text-area {
  font-size: 5rem;
  color: rgb(122, 2, 2);
}

@import "bootstrap";

@media only screen and (max-width: 767px) {
  .alert-size {
    font-size: 1.2rem;
  }

  .right-part {
    margin: 1rem auto;
  }

  .counting-area {
    margin: 0 0 0 0.8rem;
    float: left;
    width: 60%;

  }

  #my-btn {
    top: 0.8rem;
    right: 0.5rem;
    margin: auto;
    float: right;
  }

  #text-area {
    font-size: 3rem;
  }
}





